@import "./scss/variables";

.app {
  display: flex;
  justify-content: space-evenly;
  height: calc(100vh - 60px);
  margin: 30px 0;

  @media (max-width: 990px) {
    flex-direction: column;
    height: auto;
    margin: 30px;
  }


  &__left {
    flex: 0.9;
  }
  &__dropdown {
    background: #fff;
    border-radius: 6px;
  }

  &__right {
    display: flex;
    flex-direction: column;
  }

  &__graph {
    flex-grow: 1;
  }

  &__graphTitle {
    margin: 20px 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    @media (max-width: 490px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    @media (max-width: 490px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__logo-block {
    display: flex;
    align-items: center;
    &_title {
      color: #fff;
      line-height: 36px;
    }
    &_img {
      width: 80px;
    }
  }
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.MuiTypography-body1,
.MuiSelect-select,
.MuiButtonBase-root {
  font-family: "Poppins", sans-serif !important;
}

.MuiPaper-root {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scroll-color;
    border-radius: 10px;
  }
}

.MuiMenu-paper {
  max-height: calc(100% - 325px)!important;
}
