@import "./scss/normalize";
@import "./scss/variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #001529;
  background: -webkit-linear-gradient(top left, #001529, #ae4a83);
  background: -moz-linear-gradient(top left, #001529, #ae4a83);
  background: linear-gradient(to bottom right, #001529, #ae4a83);
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
